<md-card>
<ng-template tdLoading="message.view">
      <md-card-title>Subject: {{message.subject}}</md-card-title>
      <md-card-subtitle> From: {{message.from}} To: {{message.to}}</md-card-subtitle>
      <md-card-content class="push-bottom-none">
        {{message.content}}
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button md-button (click)="navigateBack()">Previous</button>
      </md-card-actions>
    </ng-template>
</md-card>
