<td-layout-nav >
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <!-- <span>KeisOK</span> -->
    <span><img class="logo" src="../../../assets/KeisOK.png"></span>

    <span flex><a class="right text-gray" md-list-item (click)="logout()"><span class="raise">Sign Out</span><md-icon class='lower'>exit_to_app</md-icon></a></span>
  </div>

    <td-layout-manage-list #manageList
                        [opened]="media.registerQuery('gt-sm') | async"
                        [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                        [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '230px' : '100%'" >
    <md-toolbar td-sidenav-content >
      <span>Filters</span>
    </md-toolbar>
    <md-nav-list td-sidenav-content (click)="!media.query('gt-sm') && manageList.close()" class="md-padding" >
      <form #searchForm="ngForm">
        <div layout="row">
          <md-input-container >
            <input mdInput #from="ngModel" placeholder="From" type="text" maxlength="30" name="from" [(ngModel)]="filter.from" >
            <span md-prefix><md-icon>person</md-icon></span>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container >
            <input mdInput #to="ngModel" placeholder="To" type="text" maxlength="30" name="to" [(ngModel)]="filter.to" >
            <span md-prefix><md-icon>person</md-icon></span>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container>
            <input mdInput #subject="ngModel" placeholder="Subject" type="text" maxlength="30" name="subject" [(ngModel)]="filter.subject" >
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container >
            <input mdInput #content="ngModel" placeholder="Content" type="text" maxlength="30" name="content" [(ngModel)]="filter.content" >
          </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
              <input mdInput [mdDatepicker]="from_date_picker" placeholder="From Date"   maxlength="30" name="from_date" [(ngModel)]="filter.from_date" >
              <button mdSuffix [mdDatepickerToggle]="from_date_picker"></button>
            </md-input-container>
            <md-datepicker #from_date_picker [touchUi]="true"></md-datepicker>
        </div>
        <div layout="row">
          <md-input-container>
            <input mdInput [mdDatepicker]="to_date_picker" placeholder="To Date"  maxlength="30" name="to_date" [(ngModel)]="filter.to_date" >
            <button mdSuffix [mdDatepickerToggle]="to_date_picker"></button>
          </md-input-container>
          <md-datepicker #to_date_picker [touchUi]="true"></md-datepicker>
        </div>
        <button flex md-raised-button color="accent" (click)="onSubmit('Default')" ><md-icon class="md-24">search</md-icon>Search</button>
      </form>
    </md-nav-list>

    
      <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span>
        <td-paging-bar 
        #pagingBar 
        pageSizeAllText="allText" 
        [firstLast]="true" 
        [pageSizeAll]="true"  
        [pageSizes]="[20,100,500,1000,2000]"
        pageLinkCount="5" 
        [initialPage]="1" 
        [pageSize]="10" 
        (change)="change($event)" 
        [total]="messages.response.numFound">
        
        <span td-paging-bar-label hide-xs>Row per page:</span>
        {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>

      </td-paging-bar>


      </span>
      <span flex></span>
      <span>
        Analytics
          <button md-icon-button class="md-24" [md-menu-trigger-for]="view_menu">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu x-position="before" #view_menu="mdMenu">
              <a md-menu-item (click)="onSubmit('AnomalyDetection')">
                <md-icon>graphic_eq</md-icon>Anomaly Detection
              </a>
              <a md-menu-item (click)="onSubmit('Clustering')">
                <md-icon>bubble_chart</md-icon>Clustering
              </a>
              <a md-menu-item (click)="onSubmit('TrendAnalysis')">
                <md-icon>trending_up</md-icon>Trend Analysis
              </a>
              <a md-menu-item (click)="onSubmit('TimelineAnalysis')">
                <md-icon>timeline</md-icon>Timeline Analysis
              </a>
          </md-menu>
      </span>
    </div>
      <div layout="row">
      <div layout="column" flex="50" style="position: fixed; width:50%; left:1px; overflow-y:auto;">
      <md-card  style="overflow:auto;">
      <td-search-box class="push-left push-right" placeholder="search message" [alwaysVisible]="true" (searchDebounce)="filterContent($event)" ></td-search-box>
      <md-divider></md-divider>
      <ng-template tdLoading="messages.list" layoutfill >
        <md-nav-list class="will-load" dense>
          <div class="md-padding" *ngIf="filteredSearchResults?.length === 0" layout="row" layout-align="center center">
            <h3 >No results to display.</h3>
          </div>
          <ng-template let-message let-last="last" ngFor [ngForOf]="filteredSearchResults" let-i="index">
          <!-- <ng-template *ngFor= "let message of filteredSearchResults"> -->
            <md-list-item (click)="loadMessage(message.uuid_s)" [ngClass]="{'nav-active': selected_message.uuid_s == message.uuid_s }">
            <div *ngIf='isAnomaly'>
                <app-progress-bar 
                [dataIndex]="i"
                [confidence] = 'message.confidence_level'
                ></app-progress-bar>
            </div>
              
            

              <div>
              <p md-line> Control Number : {{message.control_number_s}}</p>
              <p md-line> Subject : {{message.subject_t}}</p>
              <p md-line> Date : {{message.message_date_dt}}</p>
              <p md-line> From : {{message.from_name_s}}  {{ message.from_address_s}}</p>
              <p md-line> To: {{message.to_address_ss}} </p>
              <p md-line> {{message.text_t}} </p>
              </div>
            </md-list-item>
          </ng-template>
        </md-nav-list>
      </ng-template>
      <td-paging-bar 
        #pagingBar 
        pageSizeAllText="allText" 
        [firstLast]="true" 
        [pageSizeAll]="true"  
        [pageSizes]="[10,100,500,1000,2000]"
        pageLinkCount="5" 
        [initialPage]="1" 
        [pageSize]="20" 
        (change)="change($event)" 
        [total]="messages.response.numFound">

        <!-- <span td-paging-bar-label hide-xs>Row per page:</span> -->
        <!-- {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span> -->

      </td-paging-bar>

      </md-card>
      </div>

      <div flex="50" layout="column" style="position: fixed; width:50%; right:8px; overflow:auto; word-wrap: break-word;" >
        <md-card >
          <ng-template tdLoading="message.view">
            <md-card-title>{{selected_message.control_number_s}}</md-card-title>
            <md-card-subtitle>
            <p md-line>Subject: {{selected_message.subject_t}}</p>
              <p md-line>From: {{selected_message.from_name_s}} <{{ selected_message.from_address_s}}></p>
              <p md-line>To: {{selected_message.to_address_ss}}</p>
              <p md-line>Date: {{selected_message.message_date_dt}}</p>
            </md-card-subtitle>
            <md-divider></md-divider>
            <md-card-content [innerHtml]="selected_message.text_t" class="push-bottom-none">
              {{selected_message.text_t}}
             <td-chips placeholder="tags"></td-chips>
            </md-card-content>
          </ng-template>
        </md-card>
      </div>
      </div>
    </td-layout-manage-list>
</td-layout-nav>

