.nav-active {
  background-color: SkyBlue;
  color: royalblue;
}

.nav-active md-icon {
  color: royalblue;
}


.nav-active:hover {
	background-color: SkyBlue;
}

.row {
	max-width:100px;
}

/*md-nav-list {
	padding-right: 0px;
	width: 100px;
	margin-right: 0px;
}*/

/*td-sidenav-content {
	padding-right: 0px;
	width: 100px;
	margin-right: 0px;
}*/

md-input-container{
	width: 100%;
}

.logo{
  height: 40px;
}

.td-menu-button[_ngcontent-c10] {
        color: black;
    }

.mat-toolbar-row {
	max-height: 20px; 
}

md-line, .mat-line {
	margin: 3px 15px;
}

md-icon {
	margin-left: 15px;
}

.right {
	float: right;
	font-size: 14px;
}

.text-gray {
	color: gray;
}

.raise {
	vertical-align: 40%;
	/*margin-top: 5px;*/
}

a {
	cursor: pointer;
}