<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center white-background" flex class="med-header">
    <!-- <span>KeisOK</span> -->
    <span><img class="logo" src="../../../assets/KeisOK.png"></span>
    <span flex><a class="right text-gray" md-list-item (click)="logout()"><span class="raise">Sign Out</span><md-icon class='lower'>exit_to_app</md-icon></a></span>
  </div>

      <div flex="100" style="max-height: 320px">
        <div class="card quarter center">
          <md-card class="equal-med-height">
            <md-card-title>Welcome</md-card-title>
            <md-divider></md-divider>
            <md-card-content class="push-bottom-none">
              <h4>New Indicators:</h4>
              <md-icon style="color: red; font-size: 20px; display: inline-block; margin-right: 15px;">error</md-icon>
              <h3 style="color: red; display: inline-block;">3 Alerts</h3>
              <br>
              <md-icon style="color: orange; font-size: 20px; display: inline-block; margin-right: 15px;">warning</md-icon>
              <h3 style="color: orange; display: inline-block;">2 Warnings</h3>
            </md-card-content>
          </md-card>
        </div>
        <div class="card half center">
          <md-card class="equal-med-height" id="analysis">
            <md-card-title>Analysis Trends</md-card-title>

            
          </md-card>
        </div>

        <div class="card quarter center">
          <md-card class="equal-med-height">
            <md-card-title>Data Analyzed</md-card-title>
            <md-divider></md-divider>
            <md-card-content class="push-bottom-none">
            <div id="donut" ></div>
            </md-card-content>
          </md-card>
        </div>
      </div>

    <div layout="row"  flex ="100" md-dynamic-height>



      <div flex="100" height="100%">
        <md-card >
          <md-card-title>
          <div flex='25' class="param">
            <p>Watch List</p>
          </div>
          <div flex='25' class="param">
            <p>This Week</p>
          </div>
          <div flex='25' class="param">
            <p>This Month</p>
          </div>
          <div flex='25' class="param">
            <p>This Quarter</p>
          </div>

          </md-card-title>
          <md-divider></md-divider>
          <ng-template tdLoading="qAlert.load">
            <md-nav-list class="will-load query-list" dense >
              <div class="md-padding" *ngIf="qAlert?.length === 0" layout="row" layout-align="center center">
                <h3>No results to display.</h3>
              </div>
              <ng-template let-query let-last="last" ngFor [ngForOf]="qAlert">
              <!-- Insert click handler on line below -->
                <md-list-item  [ngClass]="{'nav-active': message.uuid_s == query.uuid_s }"  style='border-bottom: 1px solid lightgray'>
                <!-- <md-icon md-list-avatar>email</md-icon> -->
                  <div md-list-item>
                    <p md-line style="width: 250px; margin-left: 40px;" *ngIf="query.from"> From : {{query.from}}</p>
                    <p md-line style="width: 250px; margin-left: 40px;" *ngIf="query.to"> To: {{query.to}} </p>
                    <p md-line style="width: 250px; margin-left: 40px;" *ngIf="query.subject"> Subject: {{query.subject}} </p>
                    <p md-line style="width: 250px; margin-left: 40px;" *ngIf="query.content"> Content: {{query.content}} </p>
                    <p md-line style="width: 250px; margin-left: 40px;" *ngIf="query.startDate"> Beginning Date: {{query.startDate}} </p>
                    <p md-line style="width: 250px; margin-left: 40px;" *ngIf="query.endDate"> Ending Date: {{query.endDate}} </p>
                  </div>
                  <!-- <p md-line> <td-chips placeholder="tags" color="primary"></td-chips></p> -->

                  <!-- <div class="push-bottom-none" style="float: left;"> -->
                  <div md-list-item style="width: 250px; margin-left: 40px;">
                    <!-- <md-icon style="color: red; font-size: 20px; display: inline-block; margin-right: 15px;">error</md-icon> -->
                    <p style="color: red; display: inline-block;">{{query.totalAlerts}} Highly Likely Anomalies</p>
                    <p style="color: orange; display: inline-block;">{{query.totalWarnings}} Likely Anomalies</p>
                    <!-- <br> -->
                  </div>

                  <div md-list-item style="width: 250px; margin-left: 40px;">
                    <!-- <md-icon style="color: orange; font-size: 20px; display: inline-block; margin-right: 15px;">warning</md-icon> -->
                     <p style="color: red; display: inline-block;">{{query.totalAlerts * 3}} Highly Likely Anomalies</p>
                    <p style="color: orange; display: inline-block;">{{query.totalWarnings * 3}} Likely Anomalies</p>
                    <!-- <br> -->
                  </div>


                  <md-card-content class="push-bottom-none" style="width: 250px; margin-left: 40px;">

                    <p style="color: red; display: inline-block;">{{query.totalAlerts * 5}} Highly Likely Anomalies</p>
                    <p style="color: orange; display: inline-block;">{{query.totalWarnings * 5}} Likely Anomalies</p>
                  </md-card-content>

                  <!-- </div> -->
                </md-list-item>
              </ng-template>
            </md-nav-list>
          </ng-template>
        </md-card >

      </div>


    </div>

</td-layout-nav>
