.md-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}
.chart-height {
  height: 300px;
}
.nav-active {
  background-color: skyblue;
  /* #bdeff4  */
  color: royalblue;
}

.nav-active:hover {
  background-color: skyblue;
  /* #bdeff4  */
  color: royalblue;
}

.nav-active md-icon {
  color: royalblue;
}

.card {
  display: inline-block;
  vertical-align: top;
}

.quarter {
  width: 24.5%;
}

.half {
  width: 49.5%;
  display: inline-block;
}

.equal-med-height{
  min-height: 300px;
  vertical-align: top;
}

.center {
  text-align: center;
}

h4 {
  color: gray
}

.param {
  display: inline-block;
  width: 24%;
}

.param p {
  text-align: center;
  /*float: right;*/
  /*margin-right: 15px;*/
}

p {
  margin: 5px;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.white-background {
  background-color: white;
}

.td-menu-button[_ngcontent-c10] {
        color: black;
    }

.logo{
  height: 40px;
}

md-icon {
  margin-left: 15px;
}

.right {
  float: right;
  font-size: 14px;
}

.text-gray {
  color: gray;
}

.raise {
  vertical-align: 40%;
  /*margin-top: 5px;*/
}

a {
  cursor: pointer;
}

md-line, .mat-line {
  margin: 3px 15px;
}